<!--main.html-->
<!doctype html>
<html>
<head>
  <title>All About Chew</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="javascripts/allAboutChewApp.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body ng-app='allAboutChewApp'>
  <div id='pet-create' class='container' ng-controller='mainController'>
    <div class="col-md-offset-2 col-md-8">
      <div class="clearfix">
        <form ng-submit='pet()'>
          <input type="text" class='form-control' placeholder="Your name" ng-model='newPet.created_by' />
          <textarea required class='form-control' maxlength="200" placeholder="Pet's name" ng-model='newPet.name'></textarea>
          <input class="btn submit-btn pull-right" type="submit" value="Add Pet" />
        </form>
        <div id="pet-stream">
          <h4>Available Pets</h4>
          <!--to be populated by Angular-->
          <div class='pet' ng-repeat="pet in pets | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
            <p>{{pet.name}}</p>
            <small>Posted by {{pet.created_by}}</small>
            <small class="pull-right">{{pet.created_at | date:"h:mma 'on' MMM d, y"}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
