<div class="clearfix">
  <form ng-submit='pet()' ng-show='authenticated'>
    <input required class='form-control' maxlength="200" placeholder="Pet's name" ng-model='newPet.name'></input>
    <input class="btn submit-btn pull-right" type="submit" value="Add Pet" />
  </form>
</div>
<div id="pet-stream">
  <h4>Available Pets</h4>
  <!--to be populated by Angular-->
  <div class='pet' ng-repeat="pet in pets | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
    <p>{{pet.name}}</p>
    <p>{{pet}}</p>
    <small>Posted by {{pet.created_by}}</small>
    <small class="pull-right">{{pet.created_at | date:"h:mma 'on' MMM d, y"}}</small>
  </div>
</div>
